/* Шрифты */
@font-face {
	font-family: Gilroy;
	src:url(fonts/gilroylight.woff),
	url(fonts/gilroylight.woff2);
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family: Gilroy;
	src:url(fonts/gilroyextrabold.woff),
	url(fonts/gilroyextrabold.woff2);
	font-weight:800;
	font-style:normal;
}
@font-face {
	font-family: Opensans;
	src:url(fonts/opensanslight.woff),
	`	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family: Opensans;
	src:url(fonts/opensans.woff),
	url(fonts/opensans.woff2);
	font-weight:800;
	font-style:normal;
}

/* Контентная часть */
* {
	box-sizing:border-box;
}
body {
	font-family: 'Opensans', 'Arial', sans-serif;
	font-size:15px;
	line-height:30px;
	font-weight:300;
	color:#000000;
	background-color:#ffffff;
}
.container {
	width:1160px;
	margin:0 auto;
}
.header-logo {
	padding:0px;
	margin:0px;
	display: inline-block;
}
.hidden-vis {
	display: none;
}
a {
	text-decoration:none;
}
.user-login a, .user-basket a, .phone-number {
	color:inherit;
	position: relative;
}
.list-graps {
	list-style:none;
	margin:0px;
	padding:0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slider .descr, .service-descr .descr, .about-us p {
	color:#464646;
}
.page-footer {
	color:#ffffff;
	line-height:36px;
	background-color:#464646;
	padding:60px 77px;
}
.page-footer .user-logout a,
.page-footer .footer-basket a,
.user-login-footer a,
.user-basket-footer a{
	color:inherit;
}
.user-logout {
	margin-right: 20px;
}
.main-nav {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:800;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-transform:uppercase;
}
.catalog-link a, .header-menu a{
	color:inherit;
}
.drop-down a {
	line-height:36px;
	color:inherit;
	font-weight:300;
	text-transform:none;
}
.characteristics {
	padding:0px;
	margin-top:59px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.characteristics tr:nth-of-type(2) {
	font-size:13px;
	line-height:20px;
	color:#464646;
	width: 430px;
	display: flex;
	justify-content: space-between;
}
.characteristics tr:first-child {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-size:36px;
	line-height:48px;
	font-weight:300;
	width: 430px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1px;
}
.characteristics .char-one, .characteristics .char-two {
	padding-right: 70px;
}
.char-one {
	padding-left: 70px;
}
.popular a {
	font-family:'Gilroy','Arial', sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:800;
	color:inherit;
}
.footer-service a {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:800;
	color:#ffffff;
	letter-spacing:.2em;
	text-transform: uppercase;
}
.footer-service {
	width: 430px;
	display: flex;
	margin-left: 50px;
	flex-grow: 1;
	justify-content: space-around;
	padding-left: 90px;
	padding-right: 80px;
	margin-right: 100px;
}
.center-section {
	margin-bottom: 57px;
}
.delivery-service {
	margin-top: -20px;
	margin-left:0px;
}
.goods-name-title, .slider-lead, .delivery, .about-title, .contacts-title, .descr-title {
	font-family:'Gilroy','Arial', sans-serif;
	font-size:47px;
	line-height:56px;
	font-weight:800;
}
.slider-lead {
	margin: 0px;
	margin-top: 79px;
	margin-bottom: 20px;
}
.lead-two {
	width: 260px;
}
.goods-name-title, .delivery, .about-title, .contacts-title, .descr-title {
	line-height:48px;
}
.btn {
	font-family:'Gilroy','Arial', sans-serif;
	font-size:18px;
	line-height:24px;
	color:inherit;
	font-weight:800;
	border:none;
	padding: 5px 42px;
	text-align:center;
	position: relative;
	background:transparent;
	letter-spacing:.2em;
	z-index:2;
}
.btn::after {
	content:'';
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	background-color:#f0c52e;
	left:0px;
	height: 100%;
	bottom:0px;
	top: 0px;
	right: 0px;
	transform:scaleY(.3);
	transition:transform .5s ease;
	z-index: -1;
}
.btn:hover::after {
	transform:scaleY(1);
	transition:transform .5s ease;
}
.delivery-btn {
	margin-top: 5px;
}
.controls-wrapper .btn {
	width: 161px;
	padding: 1px 20px;
	text-transform: uppercase;
	margin-bottom: 34px;
}
.slider-wrapepr {
	padding-left: 30px;
}
.main-header {
	background-color:#f7e296;
	padding:0 60px 137px 60px;
	margin-top: 60px;
}
.list-social a {
	display:block;
	width:32px;
	height:32px;
	background-color:#7e7e7e;
	border-radius:50px;
	font-size:0px;
	opacity:0.3;
}
.list-social a:hover {
	opacity:.6;
}
.list-social a:active {
	opacity:.1;
}
.list-social .facebook {
	background:url(../img/svg/fb.svg) no-repeat center;
	background-color:#7e7e7e;
	font-size:0px;
	margin-left:0px;
}
.list-social::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 7px;
	background: yellow;
	left: 0px;
	bottom: 27px;
}
.list-social {
	width: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-left: 20px;
}
.list-facebook {
	padding-right: 20px;
}
.list-instagram {
	padding-left: 3px;
}
.list-twitter {
	padding-left: 20px;
}
.social {
	position: relative;
	align-items: flex-start;
}
.twitter {
	background:url(../img/svg/twitter.svg) no-repeat center;
}
.instagram {
	background:url(../img/svg/instagram.svg) no-repeat center;
}
.user-login-footer .logout {
	color:#8d8d8d;
}
.goods-breadcrumb a {
	color:#cacaca;
	font-size:14px;
	line-height:24px;
	font-weight:300;
}
.goods-name h2, .filter-title, .sort, .price label, .color h3, .functions h3 {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:800;
}
.goods-name h2, .price label, .color h3, .functions h3 {
	font-size:18px;
	line-height:24px;
}
.color label, .functions label, .title-list a, .sort-link {
	font-size:14px;
	line-height:40px;
	color:inherit;
	font-weight:300;
}
.title-list .sort-link {
	color: rgba(0,0,0,.3);
}
.title-list .active {
	color:rgba(0,0,0,1);
}
.blocks-footer .price  {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-size:16px;
	line-height:24px;
	color:#5f5f5f;
	font-weight:300;
}
.links-hidden .add2 {
	font-size:13px;
	line-height:36px;
	color:inherit;
	font-weight:300;
	opacity:0.5;
}
.paginator a {
	color:inherit;
	font-size:16px;
	line-height:24px;
	font-weight:800;
	font-family:'Gilroy', 'Arial', sans-serif;
}
.search-container {
	width:540px;
	height:30px;
}
.search-input::placeholder {
	font-family:'Opensans','Arial', sans-serif;
	font-size:15px;
	line-height:30px;
	font-weight:300;
	color:#000000;
	opacity:0.3;
}
.btn-search {
	background:transparent;
	border:2px solid #000000;
	color:#000000;
	width:77px;
	height:30px;
	display: none;
}
.search-input {
	border:none;
	background:url(../img/svg/search.svg) #f7e296 no-repeat 3px 7px;
	outline:none;
	width:336px;
	height:30px;
	padding-left:40px;
}
.search-input:focus ~ .btn-search {
	display:inline-block;
}
.search-input:focus {
	border-bottom:2px solid #000000;
}
.btn-search:hover {
	background:#000000;
	color:#ffffff;
}
.btn-search:active {
	display: inline-block;
	color:#6a6a6a;
}
.footer-service a:hover,.footer-basket a:hover, .user-login a:hover, .user-basket a:hover, .catalog-link a:hover, .header-menu a:hover {
	opacity:0.6;
}
.footer-service a:active, .footer-basket a:active, .user-login a:active, .user-basket a:active, .catalog-link a:active, .header-menu a:active {
	opacity:0.3;
}
.logo img:hover,.footer-logo img:hover {
	opacity:0.6;
}
.logo {
	margin-bottom: 10px;
}
.header-nav {
	transform: translateY(-25px);
}
.logo img:active, .footer-logo img:active {
	opacity:0.3;
}
.footer-logo {
	margin-bottom: 20px;
}
.adress {
	margin: 0px;
	padding: 0px;
}
.list-partner {
	font-family:'Gilroy', 'Arial', sans-serif;
	font-weight:800;
	list-style:circle;
	display: block;
	margin-left:18px;
	margin-bottom:83px;
}
.links-hidden {
	display: none;
}
.goods-block:hover  .links-hidden {
	position: absolute;
	top:0px;
	left:0px;
	flex-direction: column;
	display: flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}
.mark-container {
	margin-bottom:110px;
}
.marks-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.marks-link {
	display: block;
	width: 260px;
	height: 100px;
	font-size:0px;
	background:url(../img/sprite-partners.jpg) no-repeat center;
}
.marks-list .dji {
	background-position:-0px -0px;
}
.marks-list .dji:hover {
	background-position:-272px -0px;
}
.marks-list .sp-gadjets {
	background-position:-0px -224px;
}
.marks-list .sp-gadjets:hover {
	background-position: -272px -224px;
}
.marks-list .gopro {
	background-position: -0px -112px;
}
.marks-list .gopro:hover {
	background-position: -272px -112px;
}
.marks-list .vive {
	background-position: -0px -336px; 
}
.marks-list .vive:hover {
	background-position: -272px -336px;
}
.goods-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-bottom:265px;
}
.popular {
	width:100%;
}
.popular li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:flex-end;
	position: relative;
}
.popular-link {
	background-color:#f7e296;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.popular-link span {
	display: block;
	margin-top:33px;
}
.popular-link.vr {
	margin:0px;
}
.popular-link:active .images {
	opacity:.3;
}
.popular-link:active span {
	opacity:.3;
}
.popular a {
	display: block;
	width:160px;
	height:160px;
	margin-left:40px;
}
.paginator .no-active {
	color:rgba(0,0,0,0.3);
}
.row {
	width:10px;
	height:10px;
	display: inline-block;
}
.title-list .arrow-up {
	background:url(../img/svg/icon-up-dir.svg);
}
.title-list .arrow-down {
	background:url(../img/svg/icon-down-dir.svg);
}
.color [type="checkbox"] {
	display: none;
}
.color {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items:flex-start;
	margin-bottom: 45px;
	position: relative;
}
.functions::before {
	content: '';
	width: 200px;
	height: 3px;
	background: #000000;
	top: 0px;
	left: 0px;
	position: absolute;
}
.color label::before {
	content:'';
	display: inline-block;
	width: 30px;
	height: 23px;
	background:url(../img/svg/checkbox-off.svg) no-repeat center;
	padding-right:20px;
}
.color [type="checkbox"]:checked + label::before {
	content:'';
	display: inline-block;
	width: 30px;
	height: 23px;
	background:url(../img/svg/checkbox-on.svg) no-repeat center;
}
.functions [type="radio"] {
	display: none;
}
.functions {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items:flex-start;
	position: relative;
}
.functions label::before {
	content:'';
	background:url(../img/svg/radio-off.svg) no-repeat center;
	width:25px;
	height: 25px;
	display: inline-block;
	padding-right:20px;
}
.functions [type="radio"]:checked + label::before {
	content:'';
	background:url(../img/svg/radio-on.svg) no-repeat center;
}
.header-menu {
	display:flex;
	width:500px;
	letter-spacing:0.2em;
}
.header-menu li:nth-of-type(2) {
	margin-left:35px;
}
.header-menu li:last-child {
	margin-left:108px;
}
.menu-container {
	display: flex;
	margin-bottom:39px;
}
.drop-down {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:column;
}
.user-login {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	flex-grow:1;
}
.user-basket {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items:baseline;
}
.user-basket li:last-child {
	margin-left:40px;
}
.log-in {
	padding-left:28px;
	height:15px;
}
.log-in::before {
	content:'';
	width:13px;
	height:15px;
	position: absolute;
	left:0px;
	bottom:0px;
	background-image:url(../img/svg/user.svg);
	background-repeat:no-repeat;
}
.compare {
	padding-left:20px;
	height:15px;
	position: relative;
	color:inherit;
}
.compare::before {
	content:'';
	background:url(../img/svg/compare.svg) no-repeat center;
	width:15px;
	height:16px;
	position: absolute;
	left:0px;
	bottom:0px;
}
.basket {
	padding-left:22px;
	position: relative;
	color:inherit;
}
.basket::before {
	content:'';
	background:url(../img/svg/cart.svg) no-repeat center;
	position: absolute;
	left: 0px;
	bottom:0px;
	width: 15px;
	height: 18px;
}
.catalog {
	position: relative;
	padding-right:20px;
	letter-spacing: .2em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.catalog::after {
	width:16px;
	height: 16px;
	content:'';
	background:url(../img/svg/plus.svg) no-repeat center;
	position: absolute;
	right: -8px;
	top: 3px;
	opacity:.3;
}
.rows {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.stroke {
	width:80px;
	height:7px;
	background-color:#ffc600;
	display: block;
}
.left-column {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items:center;
}
.container-partners {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 95px;
}
.container-partners p {
	margin-bottom:45px;
}
.location {
	width: 560px;
	height: 224px;
	background:url(../img/map.jpg) no-repeat;
	margin-bottom:83px;
}
.about-us {
	width: 460px;
	position: relative;
	margin-right:140px;
}
.contacts {
	width: 560px;
	position: relative;
}
.contacts p {
	margin-bottom: 45px;
}
.about-us::before, .contacts::before {
	width:80px;
	height: 7px;
	content:'';
	position: absolute;
	left:0px;
	top:0px;
	background-color:#000000;
}
.services {
	background-color:#e5e5e5;
	margin-bottom: 130px;
	padding-bottom: 78px;
}
.fluid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: ;
}
.services-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}
.services .active {
	display: block;
	opacity:1;
}
.services .descr {
	width: 435px;
}
.more.btn {
	text-transform: uppercase;
}
.slider-description .descr {
	margin: 0px;
	margin-bottom: 17px;
}
.services .descr-title {
	margin: 0px;
	margin-bottom: 31px;
}
.service-descr {
	width: 100%;
	position: relative;
	opacity:0;
	display: none;
}
.delivery-service::after {
	content:url(../img/svg/delivery.svg);
	position: absolute;
	right:65px;
	top: 12px;
}
.slider-container {
	position: relative;
	margin-bottom:92px;
	margin-top:-111px;
	padding-left:89px;
	padding-right: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.img-container {
	margin-right: 127px;
}
.warranty-service::after {
	content:url(../img/svg/warranty.svg);
	position:absolute;
	right:0px;
	bottom:0px;
	opacity:1;
}
.credit-service::after {
	content:url(../img/svg/credit.svg);
	position: absolute;
	right: 0px;
	bottom: 0px;
	opacity:1;
}
.controls-wrapper {
	width: 290px;
	margin-right:213px;
	margin-top:-20px;

}
.controls-wrapper [type="radio"] {
	display:none;
}
.controls-wrapper label {
	display: block;
	position: relative;
	z-index:10;
	margin-bottom:40px;
}
.controls-wrapper [type="radio"]:checked + label {
	color:#edcd5a;
	line-height:40px;
}
.controls-wrapper [type="radio"]:checked + label::after {
	width: 280px;
	background-color:#000000;
	transform:scaleY(1);
}
.popular-link .colors {
	width: 160px;
	height: 160px;
	background-color:#f7e296;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popular-link:hover .colors {
	background-color:#f0c52e;
}
.popular-link .virtual {
	background: url(../img/svg/popular-1.svg) 50% 50% no-repeat;
	width: 97px;
	height: 55px;
}
.popular-link .monopod {
	background: url(../img/svg/popular-2.svg)50% 100% no-repeat;
	width: 86px;
	height: 117px;
}
.popular-link .camera {
	background: url(../img/svg/popular-3.svg) 50% 50% no-repeat;
	width: 71px;
	height: 87px;
}
.popular-link .bracer {
	background: url(../img/svg/popular-4.svg) 50% 50% no-repeat;
	width: 107px;
	height: 65px;
}
.popular-link .hours {
	background: url(../img/svg/popular-5.svg) 50% 50% no-repeat;
	width: 56px;
	height: 98px;
}
.popular-link .quadr {
	background: url(../img/svg/popular-6.svg) 50% 50% no-repeat;
	width: 132px;
	height: 69px;
}
.controls-wrapper::after {
	content:'';
	width:7px;
	height: 320px;
	background-color:#000000;
	position: absolute;
	right: 3px;
	top: 0px;
	z-index:10;
	margin-top:-90px;
}
.slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	min-height:500px;
}
.slider-hidden {
	display:none;
}
.slider-description {
	min-height: 370px;
	position: relative;
}
.controls {
	position: absolute;
	right:80px;
	top: 313px;
	z-index: 999;
}
.container-catalog {
	padding:0 60px;
}
.goods-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	flex-wrap:wrap;
	width:100%;
}
.goods-table {
	width: 760px;
	margin-top: 70px;
}
.menu-wrapper {
	display: flex;
	bottom:0px;
	left:0px;
	position: absolute;
	width:1160px;
	background:#f7e296;
	z-index:10;
	margin-left: -60px;
	display: none;
	padding-top: 40px;
	transform: translateY(100%);
	padding-bottom: 22px;
	padding-left: 60px;
}
.menu-wrapper .first {
	margin:0px;
	margin-right:50px;
}
.menu-wrapper .second-list {
	margin-right:50px;
}
.catalog-item-hover {
	position: relative;
}
.catalog-item-hover:hover .menu-wrapper {
	display: flex;
}
.name-container .name-feedback, .email-container .email-feedback {
	display: block;
}
.modal {
	width: 960px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 10px #000000;
	padding-top: 100px;
	padding-bottom: 95px;
}
.container-modal {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	width: 760px;
	margin: 0 auto;
}
.name-container, .email-container {
	width: 360px;
}
.name-container input, .email-container input {
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	height: 50px;
	padding-left: 20px;
}
.name-container {
	margin-right: 40px;
}
.modal-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.filter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	width:400px;
	background-color:#eeeeee;
	margin-right:70px;
	padding-left: 140px;
}
.container-goods {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between;
  background: linear-gradient(to right, #efefef 30%, #ffffff 10%, #ffffff 50%);
}
.content-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
}
.paginator {
	display: flex;
	align-self:flex-end;
	padding:30px 75px;
	background-color:#ebebeb;
	margin-top: 40px;
	margin-bottom: 80px;
	width: 100%;
}
.title-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}
.goods-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:column;
	position: relative;
}
.goods-name {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.controls-goods {
	background: linear-gradient(to right,#dbdbdb 30%, #ebebeb 10%);
}
.controls-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
}
.arrow-control {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.sort {
	margin-right:45px;
}
.goods-name h2 {
	width: 260px;
}
.arrows .row {
	margin-left:20px;
	opacity: 0.3;
}
.arrows .active {
	opacity:1;
}
.goods-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 60px;
}
.filter-container {
	margin:0px;
	padding-right: 55px;
	margin-right: 70px;
}
.filter-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.price-container {
	position: relative;
}
.price-container::before {
	content: '';
	width: 200px;
	height: 1px;
	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nav-list li:not(:first-child) {
	padding-left: 40px;
}
.nav-list li {
	position: relative;
}
.nav-list li::before {
	content: '';
	width: 4px;
	height: 7px;
	background: url(../img/svg/nav-arrow.svg) no-repeat center;
	position: absolute;
	left: 0px;
}
.range-price {
	font-family: 'Gilroy','Arial',sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.sort-container {
	width: 760px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.title-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.sort-container {
	width: 760px;
}
.paginator-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: center;
}
.paginator-list .forward {
	margin-right: auto;
}
.paginator-list .numbers:not(:first-child) {
	margin-left: 20px;
}
.paginator .back {
	margin-left: auto;
}
.username {
	margin-right: 20px;
}
.row-left {
	width: 100px;
	height: 7px;
	background-color: #ffffff;
	position: absolute;
	left: 20px;	
	top: 0px;
}
.number-one {
	background: url(../img/01.png) no-repeat center;
}
.number-two {
	background: url(../img/02.png) no-repeat center;
}
.number-three {
	background: url(../img/03.png) no-repeat center;
	z-index: 1;
}
.number-blocks {
	width: 200px;
	height: 135px;
	position: absolute;
	right: -35px;
	top: -24px;
}
.footer-basket li:nth-of-type(2) {
	margin-right: 40px;
	padding-left: 20px;
}
.user-footer, .compare-footer, .basket-footer {
	position: relative;
	padding-left: 20px;
	display: block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.page-footer .compare-footer::before {
	content: '';
	background: url(../img/svg/compare-yellow.svg) no-repeat center;
	position: absolute;
	left: -3px;
	width:20px;
	height: 20px;
}
.page-footer .user-footer::before {
	content: '';
	width: 20px;
	height: 20px;
	background:url(../img/svg/user-yellow.svg) no-repeat center;
	position: absolute;
	left: -10px;
}
.basket-footer::before {
	content: '';
	background: url(../img/svg/cart-yellow.svg) no-repeat center;
	position: absolute;
	left: -3px;
	width: 20px;
	height: 20px;
}
.area-feedback {
	background-color: #f2f2f2;
	width: 100%;	
	resize: none;
	padding: 20px;
	border:none;
}
.close-modal {
	background: url(../img/svg/modal-close.svg) no-repeat center;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 30px;
	right: 30px;
	border: 0px;
}
.popular-link .monopod-colors {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.price-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  margin-top: 49px;
}

.price-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
	cursor:pointer;
}

.range-controls .toggle-min {
  left: 0px;
}
.price-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.price-controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #283136;
  width: 60px;
	border: none;
	background: #eeeeee;
}
.range-controls .toggle-max {
  left: 120px;
}
.price-controls {
	font-size: 0px;
}
.min-price {
	text-align: left;
}